.spendiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60vw;
    margin-bottom: 30px;
}
form{
    display: flex;
    justify-content: center;
    align-content:center ;
    background-color: rgb(19, 19, 54);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    
}
.pn{
    background-color: rgb(19, 19, 54);
}
input{
    display: flex;
    background-color: white;
    color:black;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
}
.spens{
   
    background-color: rgb(19, 19, 54);
     padding: 10px;
 }
 .buttons{
    width: fit-content;
    background-color: rgb(101, 130, 156);
  color: White;
    padding: 10px 30px;
 }