
.ulBlock,ul{
  color: white;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: row;
  background-color: rgb(4, 4, 4);
  width: auto;
 
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ulBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  position:sticky;
  top:0; 
  z-index: 1;
  width: 75%;
}
.liBlock,li , .Route {
  background-color: rgb(4, 4, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  border-radius: 5px;
}
.liBlock{
  width: 100%;
}
.inpSearch{
  background-color: aliceblue;
}
.searchField{
  display: inline;
  margin: 20px;
  position: absolute;
  border-style: solid;
}
* {
  scrollbar-width: thin;
  scrollbar-color: blue;
  color: aliceblue;
  background-color: rgb(15, 15, 34);
  
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 8, 91);
}

*::-webkit-scrollbar-thumb {
  background-color:  rgb(15, 15, 34);
  border-radius: 25px;
  border: 1.5px solid rgb(0, 8, 91);
  scroll-behavior: smooth;
}
.alertbox,h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 188, 188);
  color: black;
  padding: 25px;
  width: fit-content;
}
button
{
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  cursor:pointer;
  text-align: center;
  background-color: rgb(101, 130, 156);
  color: White;
}
.addSp{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hr{
  color:rgb(101, 130, 156) ;
}